<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<style>
    img {
        max-width: 45px;
        max-height: 45px;
    }
</style>

<body class="p-3">
    <div>
        <div id="app">
            <div class="d-flex">
                <img src="https://vuejs.org/images/logo.png" alt="vue logo">
                <h1>{{ titulo }}</h1>
            </div>

            <hr />

            <h4>databind</h4>
            <sp>{{ bind }}</sp>
            <br />
            <input v-model="bind" />

            <br />
            <br />

            <form v-on:submit.prevent="alert">
                <h4>method</h4>
                <span>Name: </span>
                <input v-model="name" />

                <input type="submit" value="Alert" />
            </form>

            <br />

            <h4>v-if</h4>
            <span>Age: </span>
            <input v-model="age" type="number" />
            <h4 v-if="age < 18" class="text-danger">Age less than 18</h4>
            <h4 v-if="age >= 18" class="text-success">Age Ok</h4>

            <br />
            <h4>loop</h4>
            <ul>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ul>
            <input v-on:click="addTodo" value="add" type="button" />
            <input v-on:click="removeTodo" value="remove" type="button" />
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            const app = new Vue({
                el: "#app",
                data: {
                    titulo: "Vue.js",
                    bind: "Test",
                    name: "",
                    age: 17,
                    todos: [
                        { text: 'Learning..' },
                        { text: 'Learning....' },
                        { text: 'Learning......' }
                    ]
                },
                methods: {
                    alert: function () {
                        const { name } = this;

                        if (!name)
                            alert("Name doesn't informed ");
                        else
                            alert(`Name: ${this.name}`);
                    },
                    addTodo: function () {
                        const { todos } = this;

                        todos.push({ text: `Learning..${todos.map(t => '..').join('')}` })
                    },
                    removeTodo: function () {
                        this.todos.pop();
                    }
                }
            });
        </script>
    </div>
</body>

</html>